@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
}
#root {
  max-width: 1280px;
  padding: 83px 273px;
}
@media (max-width: 800px) {
  #root {
    padding: 8px;
  }
}
